@{
  Layout = "_Layout";
}

<h1>Add a new vendor</h1>

<form id="vendor-form" action="/vendors" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">
  <div class="row mt-3">
    <div class="col-auto">
      <label for="description">Description:</label>
    </div>
    <div class="col-auto">
      <textarea id="description" name="description" rows="3" form="vendor-form"></textarea>
    </div>
  </div>
  <button type="submit">Add</button>
</form>

<p><a href="/vendors">Back to vendors</a></p>
<p><a href="/">Back home</a></p>